<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PVDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to PPDB</h1>
        <h2>Private Video Database</h2>
        <br>
        <small>by Jure Dvoršak</small>
    </header>
    <div id="navbar">
                <ul>
                    <li><a href="/"><h1>PVDB</h1></a></li>
                    <li><a href="#"><img src="../static/img/icons/info/info-32-DarkSlateGray.png" alt="Help & Info"></a></li>
                    <li><a href="#"><img src="../static/img/icons/cog-wheel/cog-wheel-32-DarkSlateGray.png" alt="Settings"></a></li>
                    <li><a href="/edit"><img src="../static/img/icons/edit/edit-32-DarkSlateGray.png" alt="Edit"></a></li>
                </ul>
    </div>

    <div class="content">
        {% block content_table %}{% endblock content_table %}
    </div>
    
</body>
</html>