{% extends 'base.html' %}

{% block content_table %}
    <div class="edit-video-container">
        <video width="760" controls>
            <source src="{{ url_for('static', filename='./video-libraray/' + video.filename) }}">
        </video>
        <div class="notes-container">
            <h3>Notes:</h3>
            {{ video.notes }}
        </div>

        <br>

        <form action="" method="POST">
            <h3>Actress: </h3>
            <div class="actress-selector">
                <select name="actress_select">
                    {% for actress in actresses %}
                        <option value="{{ actress.id }}">{{ actress.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <h3>Tags:</h3>
            {% for tag in tags %}
                <input type="checkbox" name="{{ tag.id }}">{{ tag.name }}
            {% endfor %}
            <br>
            <br>
            <h3>Rating:</h3>
            {{ video.rating }}
            <br>
            <input type="range" name="rating-select" min="0" max="5" step="1" value="{{ video.rating }}">
            <br>
            <br>
            <input class="button" type="submit" value="Update">
        </form>
    </div>
{% endblock content_table %}