{% extends 'base.html' %}

{% block content_table %}
<form action="" method="POST">
    <table>
        <thead>
            <tr>
                <th>Actresses:</th>
                <th>Tags:</th>
                <th>Add videos:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul class="listing">
                        {% for actress in actresses %}
                            <li>{{ actress.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="listing">
                        {% for tag in tags %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <p>
                        To import videos add them to video filder and run this function.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="new-actress">
                </td>
                <td>
                    <input type="text" name="new-tag">
                </td>
                <td>
                    <input type="checkbox" name="import_new">Import new videos
                </td>
            </tr>
        </tbody>
    </table>
    <div class="searchbuttons">
        <input class="button" type="submit" value="Add">
    </div>
</form>
{% endblock content_table %}
