{% extends 'base.html' %}

{% block content_table %}
    <div class="searchselector">
        <form action="" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Acress:</th>
                        <th>Tags:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="actress-selector">
                                <select name="actress_select">
                                    {% for actress in actresses %}
                                    <option value="{{ actress.id }}">{{ actress.name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="checkbox" name="actres_find">Search
                            </div>
                        </td>
                        <td>
                            {% for tag in tags %}
                                <input type="checkbox" name="{{ tag.id }}">{{ tag.name }}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        
            <div class="searchbuttons">
                <input class="button" type="submit" name="search" value="Search" />
            </div>
        </form>
    </div>
    
    <br>

    <table>
        <thead>
            <tr>
                <td>Video</td>
                <td>Actresses</td>
                <td>Tags</td>
                <td>Rating</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
                <tr>
                    <td>
                        <video width="560" controls>
                            <source src="{{ url_for('static', filename='./video-libraray/' + video.filename) }}">
                        </video>
                    </td>
                    <td>
                        {% for actress_in_video in video.starring %}
                            {{ actress_in_video.name }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for tag_of_video in video.tagged %}
                            {{ tag_of_video.name }}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="rating">
                            {{ video.rating }}
                        </div>
                    </td>
                    <td>
                        <a href="/edit_video/{{video.id}}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content_table %}
