{% extends 'base.html' %}

{% block content_table %}
    <table>
        <thead>
            <tr>
                <td>Video</td>
                <td>Actresses</td>
                <td>Tags</td>
                <td>Rating</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
                <tr>
                    <td>
                        <video width="560" controls>
                            <source src="{{ url_for('static', filename='./video-libraray/' + video.filename) }}">
                        </video>
                    </td>
                    <td>
                        {% for actress_in_video in video.starring %}
                            {{ actress_in_video.name }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for tag_of_video in video.tagged %}
                            {{ tag_of_video.name }}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="rating">
                            {{ video.rating }}
                        </div>
                    </td>
                    <td>
                        <a href="/edit_video/{{video.id}}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content_table %}
