*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lavender;
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#mainheader{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#navbar{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    position: sticky;
    top: 0;
    background-color: lavender;
    overflow: hidden;
    border-bottom: 3px solid black;
    border-radius: 5px;
}
#navbar ul{
    list-style-type: none;
}
#navbar li{
    display: inline;
}
#navbar li:nth-child(1){
    float: left;
    padding-left: 32px;
}
#navbar li:nth-child(1) a{
    text-decoration: none;
    color: darkslategray;
}
#navbar li:nth-child(1) h1{
    font-size: 48px;
}
#navbar li:nth-child(n+2){
    float: right;
    padding-top: 10px;
    padding-right: 24px;
}
.content{
    width: 70%;
    margin: auto;
}

/* index.html */

.searchbuttons{
    text-align: center;
}

.button{
    background-color: darkslategray;
    border: none;
    cursor: pointer;
    color: lavender;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.searchselector{
    text-align: center;
    
}

table{
    width: 50%;
    border-collapse: collapse;
    border: 3px solid darkslategray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: darkslategray;
    color: lavender;
}

.listing{
    list-style-type: none;
}

/* edit_video.html */
.edit-video-container{
    text-align: center;
}